<!doctype html>
<html lang="cs">
<head>
  <title>AJAX HowTo</title>
  <meta charset="utf-8">

  <link rel="shortcut icon"
        href="{{ url_for('static', filename='icons8-source-code-48.png') }}" />

  <script src="{{ url_for('static', filename='jquery.js') }}"></script>

<style>
#time {
  border: solid 1px #eee;
  display: block;
  width: 75%;
  height: 70vh;
  margin-left: 0;
  margin-right: 5%;
  position: relative;
  overflow: auto;
  float: right;
}

#load { 
  position: absolute;
  background-color: #eee;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url({{ url_for('static', filename='load.gif') }});
}

#buttons {
  width: 18%;
  text-align: right;
  margin-right: 1ex;
}
#buttons button {
  margin: 0.5ex;
}

#location {
  width: 18%;
  text-align: right;
  margin-right: 1ex;
}

.cal {
  width: 80%;
  margin: auto;
}
h2 .cal {
  clear: both;
  padding-top: 3em;
}

</style>
<script>

{# tato funkce dostane data od getJSON #}
loadjson = function(data){

  {#alert(JSON.stringify(data))#}
  {#console.log(i, data);#}

  $('#location strong').text(data['location']);
  $('#location strong').text(data.location);

  $('#data').text('')
  var ul = $('<ul>').appendTo('#data');
  $.each(data.data, function(i, data){
    var li = $('<li>').appendTo(ul);
    var strong = $('<strong>').appendTo(li);
    strong.text(i);
    strong.after(': ' + data)
  })
  $('#load').hide();
}


{# pokud getJSON skončí chybou#}
failjson = function(){
  $('#data').text('Error');
  $('#location strong').text('???');
  $('#load').hide();
}


$().ready(function(){
  $('#load').hide();

  $('#buttons button').click(function(event){
    $('#load').show();
    $.getJSON('{{url_for('makeAJAX')}}', {location: $(this).text() }, loadjson).fail(failjson);
  });

  $('#ajax-cal').click(function(event){
    $.getJSON('{{url_for('calculate')}}', { 
      a: $('input[name="a"]').val(),
      b: $('input[name="b"]').val() }, function(data){
        $('#result').text(data['result']);
      }
    );
  })
});

</script>

</head>



<body>


  <h1>My AJAX HowTo <a href="{{ url_for('index') }}">/</a></h1>
  <p><a href="{{url_for("clock")}}">Clock</a></p>
    <p>How look JSON data:
    <a href="{{url_for('makeAJAX')}}">time.json</a>
    <a href="{{url_for('makeAJAX', location='Africa')}}">location=Africa</a>
    <a href="{{url_for('makeAJAX', location='America')}}">location=America</a>
    <a href="{{url_for('makeAJAX', location='Asia')}}">location=Asia</a>
    <a href="{{url_for('makeAJAX', location='Australia')}}">location=Australia</a>
    <a href="{{url_for('makeAJAX', location='Europe')}}">location=Europe</a>
    </p>

    <div id='time'>
      <div id="load"></div>
      <div id="data"></div>
    </div>
    <p id="location"><strong>???</strong>:</p>
    <p id="buttons"> Get time AT:<br />
    <button>Africa</button><br />
    <button>America</button><br />
    <button>Asia</button><br />
    <button>Australia</button><br />
    <button>Europe</button><br />
    <button>ERROR</button><br />
    </p>

<section id="cal">

  <h2>Calculate</h2>
  <a href="calculate.json?a=1.0015&b=2.14009">calculate.json?a=1.0015&b=2.14009</a>
  <form>
    <p>
      <input type="text" size="5" name="a" value="1.0015"> +
      <input type="text" size="5" name="b" value="2.14009"> =
      <span id="result">{{ c }}</span>
    </p>
    <p>
      <button>Clasics</button>
    </p>
  </form>
  <p>
    <button id="ajax-cal">Caltulate via AJAX</button>
  </p>

</section>



</body>
</html>

