<!doctype html>
<html lang="cs">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="Marek">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link rel="shortcut icon" href="static/icons8-source-code-48.png" />
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <main>

    <p>
      <button id="reload">Reload</button> 
      <a href="../">../</a>
    </p>

    <p>Čas:
    <span id="time"><img src="{{url_for('static', filename='load.gif')}}" height="30" /></span>
    </p>


    <svg id="clock" viewBox="0 0 100 100" style="width: 300px;">
      <circle id="face" cx="50" cy="50" r="45"/>
      <g id="hands">
        <rect id="hour" x="48.5" y="22.5" width="5" height="30" rx="2.5" ry="2.55" />
        <rect id="min" x="48" y="12.5" width="3" height="40" rx="2" ry="2"/>
        <line id="sec" x1="50" y1="50" x2="50" y2="16" />
      </g>
    </svg>

    <div id="yellow">
      <div id="red">&nbsp;</div>
    </div>

  


  </main>



  
<script src="{{url_for('js')}}" charset="utf-8"></script>



</body>

</html>


</body>
</html>

